
:root {
  --title-color: white;
  --text-color: white;
  --text-done-color: #808080;
  --btn-text-color: black;
  --action-text-color: red;
  --bg-primary: #282121;
  --border-color: #B1AEAE;
  --btn-bg-color: #2D60EA;
  --btn-bg-hover-color: #1E409C;
  --success-color: #68D97B;
  --error-color: #D86E58;
  --alert-content: #939393;
}

@property --alert-primary-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #68D97B;;
}


* {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  background-color: var(--bg-primary);
  width: 26%;
  margin: auto;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  border-radius: 10px;
}

.title {
  color: var(--title-color);
}

.row {
  display: flex;
  justify-content: center;
}

.todo-input {
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
}

.add-btn {
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  border: none;
  padding: 0 10px;
  border-radius: 2px;
  font-weight: 600;
  cursor: pointer;
}

.add-btn:hover {
  background-color: var(--btn-bg-hover-color);
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.task-list-item {
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 6px 10px;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.task-list-item-action {
  display: flex;
  gap: 15px;
}

.task-list-item-action button {
  all: unset;
  color: var(--action-text-color);
}

.task-list-item--done {
  text-decoration: line-through;
  color: var( --text-done-color);
}

.subtitle {
  color: var(--text-color);
}

.row .subtitle:first-child {
  margin-right: 10px;
}

.alert {
  display: flex;
  align-items: stretch;
  border: 1px solid var(--success-color);
  border-radius: 8px;
  width: fit-content;
  padding: 5px 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: 5px solid var(--alert-primary-color);
  position: absolute;
  right: 10px;
  animation: alertFromTop .7s ease forwards;
}

.prefix-icon {
  font-size: 20px;
  color: var(--alert-primary-color);
  position: relative;
  padding-right: 5px;
}

.prefix-icon > i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.close-icon {
  color: var(--alert-primary-color);
  cursor: pointer;
}

.alert-main p,h4{
  padding: 5px;
  margin: 0;
}

.alert-main p {
  color: var(--alert-content);
}

.alert-main h4 {
  color: var(--alert-primary-color);
}

.alert__success {
  --alert-primary-color: var(--success-color);
}

.alert__error {
  --alert-primary-color: var(--error-color)
}

.no-border {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
  color: var(--text-color);
  font-size: 16px;
}

@keyframes alertFromTop {
  from {top: -100%;}
  to {top: 10px;}
}

@keyframes alertBackToTop {
  from {top: 10px;}
  to {top: -100%;}
}